.proyectos__main-section {
  margin-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .proyectos__header-section {
    margin-bottom: 2rem;
    width: 100%;

    h3 {
      font-size: 55px;
      font-weight: 400;
      text-align: center;
      align-self: center;
    }
  }

  .projects__container {
    padding: 0 3rem;
    max-width: 1440px;
    width: 100%;
    gap: 0;
  }

  // tablet
  @media only screen and (max-width: 835px) {
    margin-top: 3rem;

    .proyectos__header-section {
      img {
        width: 190px;
      }

      h3 {
        font-size: 40px;
      }
    }

    .projects__container {
      padding: 0 7rem;
    }
  }
  // mobile
  @media only screen and (max-width: 530px) {
    .proyectos__header-section {
      img {
        width: 100px;
      }
      h3 {
        font-size: 32px;
        align-self: flex-end;
      }
    }

    .projects__container {
      justify-content: center;
    }
  }
}
// Responsive issues
@media only screen and (max-width: 544px) {
  .projects__container {
    padding: 0 3rem;
    justify-content: center !important;
    max-width: 1440px;
    width: 100%;
    gap: 2% !important;
  }
}
@media only screen and (min-width: 545px) {
  .projects__container {
    padding: 0 3rem !important;
    justify-content: center ;
    max-width: 1440px;
    width: 100%;
    gap: 0 !important;
  }
}
@media only screen and (min-width: 598px) {
  .projects__container {
    padding: 0 3rem !important;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    gap: 0 !important;
  }
}
@media only screen and (min-width: 785px) {
  .projects__container {
    gap: 2% !important;
  }
}
@media only screen and (min-width: 835px) {
  .projects__container {
    justify-content: center ;
    padding: 0 1rem!important;
  }
}
@media only screen and (min-width: 892px) {
  .projects__container {
    justify-content: space-between ;
  }
}
@media only screen and (min-width: 956px) {
  .projects__container {
    padding: 0 3rem;
    justify-content: space-between ;
    max-width: 1440px;
    width: 100%;
    gap: 2% !important;
  }
}
@media only screen and (min-width: 1020px) {
  .projects__container {
    padding: 0 5rem !important;
  }
}
@media only screen and (min-width: 1411px) {
  .projects__container {
    padding: 0 3rem !important;
    justify-content: flex-start !important;
    max-width: 1440px;
    width: 100%;
    gap: 2% !important;
  }
}
