.proyecto__card {
  width: 100%;
  max-width: 413px;
  max-height: 413px;
  height: 413px;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
  &:hover {
    .nombre_text {
      display: none;
    }
  }
  .nombre_text {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    text-align: end;
  }

  // tablet
  @media only screen and (max-width: 835px) {
    height: 387px;
    justify-content: space-between;
    &:hover {
      .nombre_text {
        display: block;
      }
    }

    .nombre_text {
      text-align: center;
    }
  }

  // mobile
  @media only screen and (max-width: 415px) {
    height: 374;
  }
}
