footer {
  background-color: #1e5180;
  padding: 2rem 0 1rem 0;
  font-family: "Gotham-Medium", "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .main__section--footer {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;

    .name__text {
      color: white;
      font-size: 30px;
      font-style: italic;
      margin: 0;
    }
  }

  .copyright__text {
    color: white;
  }

  // tablet
  @media only screen and (max-width: 835px) {
    .main__section--footer {
      flex-direction: column;
      justify-content: center;

      .name__text {
        margin-bottom: 2rem;
      }
    }
  }

  // mobile
  @media only screen and (max-width: 415px) {
    padding-top: 1rem;

    .main__section--footer {
      .name__text {
        font-size: 18px;
        margin-bottom: 1rem;
      }
      img {
        width: 51px;
      }
    }

    .copyright__text {
      font-size: 13px;
    }
  }
}
