footer {
  background-color: #1e5180;
  padding: 2rem 0 1rem 0;

  .name__text {
    color: white;
    font-size: 30px;
    font-style: italic;
  }

  .copyright__text {
    // font-size: 1rem;
    color: white;
  }
}
