.btn__custom {
  background-color: rgba(0, 163, 179, 1);
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1.5rem;

  // tablet
  @media only screen and (max-width: 835px) {
  }

  // mobile
  @media only screen and (max-width: 415px) {
  }
}
